<div class="center jumbotron">
  <h1>Yustagramへようこそ！</h1>

  <h2>これはYustagramのトップページです</h2>

  <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", '/login', class: "btn btn-lg btn-primary" %>
  <%= link_to "テストログイン", '#', class: "btn btn-lg btn-primary" %>
</div>