# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# comment関係は未実装のためgitignore
/app/assets/stylesheets/comments.scss
/app/controllers/comments_controller.rb
/app/helpers/comments_helper.rb
/app/models/comment.rb
/db/migrate/20200127211301_create_comments.rb
/db/migrate/20200127214635_add_index_comments_micropost_id.rb
/test/controllers/comments_controller_test.rb
/test/models/comment_test.rb


/app/controllers/users/*
/bin/*
/config/initializers/*
/public/*
.env